@charset "utf-8";
/* CSS Document */
body { background-image:url(facb.png);}
.contain-W { margin-left:757px; margin-top:110px; border:hidden; }
.contain-X {width:355px; height:40px; border:hidden; border-color:rgba(9,118,207,1.00);}
.contain-Y {width:355px; height:40px; border:hidden;}
.contain-Z {width:355px; height:40px; background-color:transparent; margin-top:5px; border:hidden;}
